<!DOCTYPE html>
{% load staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/base.css" %}">     
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>   
    {% block extra_css %}{% endblock %}    
</head>

<body>     
    <div class="container">
        <div class="row">
            <div id="brand" class="col-xs-6 text-left">
                <img  src="{% static "images/Logo-Small.png" %}" alt="SCCS Logo">
                S.C.C.S
            </div>

            <div id ="tagline" class="col-xs-6 text-right">Professionalism, Craftmanship, Quality ...</div>
        </div>    

        <div id="shadow-box">
            <div id="top-nav" class="row">
                <div class="col-xs-12 text-center">
                    <a href="/">Home</a> |
                    <a href="/services/">Services</a> |
                    <a href="/quote/">Get a Quote</a> |   
                    <a href="/aboutus">About Us</a>                                                    
                </div>
            </div>

        {% block body %}{% endblock %}        

        </div>    
    </div>

    <div class="container">
        <div class="row">        
            <div id="left-footer" class = "col-xs-6 text-left">
                Phone: 555-555-5555<br>
                Questions?: Questions@sccs.com            
            </div>

            <div id="right-footer" class = "col-xs-6 text-right">
                Copyright &copy; 2014 Southern California Construction
            </div>        
        </div>
    </div>    
    

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>    
    {% block extra_js %}{% endblock %}
</body>