{% extends "quotes/base.html" %}
{% load staticfiles %}

{% block title %} SCCS {% endblock %}
  
{% block body %}
    <div id="meat" class="row">                                
        <div class="col-xs-12">            
            <img id="construction-pic" src="{% static "images/construction.jpg" %}" />
        </div>

        <div class="col-xs-4"></div>
        <div id="headline" class="col-xs-8">
            <h1 class="text-right">Southern California Construction Services</h1>
            <h4 class="text-right">Making dreams come true, 10 years and counting!</h4>
            <a href = "quote" id="quote-button" class="label label-info pull-right">Get a Quote</a>
        </div>
    </div>

    <div id="tiny-images" class="row text-center">
        <div class="col-xs-4 small-pad">
            <span style="color: #FFCCCC" class="glyphicon glyphicon-heart glyphie"></span><br>
            <a href="#">Our Customers LOVE US! Read our Reviews!</a>
        </div>

        <div class="col-xs-4 small-pad">
            <span  style="color: #B6C980" class="glyphicon glyphicon-usd glyphie"></span><br>
            <a href="#">Always the best value for your money!</a>
        </div>

        <div class="col-xs-4 small-pad">
            <span style="color: #B89470" class="glyphicon glyphicon-list-alt glyphie"></span><br>

            <a href="#">We do it all! Take a look at our services.</a>
        </div>
    </div>                
{% endblock %}



