$text-color: #FFF;
$carlos-blue: #001637;
$big-text: 30px;
$nunito: 'Nunito', sans-serif;

body { 
    font-family: $nunito;    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0, #E0F0FF),
        color-stop(0, #CFDFFF)
    );
    background-image: -o-linear-gradient(right top, #E0F0FF 0%, #CFDFFF 0%);
    background-image: -moz-linear-gradient(right top, #E0F0FF 0%, #CFDFFF 0%);
    background-image: -webkit-linear-gradient(right top, #E0F0FF 0%, #CFDFFF 0%);
    background-image: -ms-linear-gradient(right top, #E0F0FF 0%, #CFDFFF 0%);
    background-image: linear-gradient(to right top, #E0F0FF 0%, #CFDFFF 0%);

}

a:link, a:hover, a:active {
    @extend .no-style-link;
    color: $text-color;    
}

.small-pad { padding: 2px;}
.small-bottom-margin { margin-bottom: 20px;}
.no-style-link { text-decoration: none; }

#shadow-box {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 1);
}

.border-box {
    border: 1px solid #ccc;
    padding: 10px;
    border-color: #666;    
}

#brand {    
    font-size: 40px;
    color: #000;
}

#tagline { 
    margin-top: 25px;
    font-size: 18px;
}

#top-nav {
    @extend .border-box;    
    background: $carlos-blue;  
    color: $text-color;
    position: relative;
    z-index: 20;

    a:link, a:hover, a:active {
        font-weight: bolder;
        font-size: 15px;
        margin-left: 10px;
    }    
}


#meat {        
    @extend .border-box;
    background-color: white;
    height: 500px;
    overflow: hidden;
}

#headline {
    color: white;
    z-index: 10;
    position: relative;
}

#construction-pic {
    position: absolute;    
    margin-top: -10px;
    margin-left: -30px;
    z-index: 1;
}

#tiny-images, #instructions {
    @extend .border-box;    
    background-color: $carlos-blue;    
    color: white;
    padding-top: 20px;
}

#quote-button {
    font-size: $big-text;
    color: #F0F0F0;
    margin-top: 40px;    
}

.glyphie {
    position: relative;
    color: white;    
    font-size: 50px;
    margin-bottom: 10px;
}

#left-footer {
    margin-top: 15px;
    margin-left: -15px;    
}

#right-footer {
    margin-top: 15px;
    padding-right: 0;
    margin-left: 15px;
}

#service-lists {
    max-width: 540px;
    margin-bottom: 30px;
}

#handyman {
    position: absolute;
    z-index: 0;
    margin-top: -44px;
    margin-left: -50px;        
}

#about-text {
    padding-left: 25px;
    padding-right: 25px;
}

